body {
  background: #222;
  color: #fff;
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  padding-bottom: 3em;
}

.page-wrap {
  display: inline-block;
  margin: 2em auto;
}
.controls{
  max-width: 1000px;
  margin: 0 auto;
}
.controls__input {
  display: block;
  margin: 0 auto;
  background: none;
  border: none;
  font-size: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #ccc;
  text-align: center;
  outline: none;
  color: #fff;
  width: 100%;
}
.controls__btn {
  background: dodgerblue;
  color: #fff;
  border: none;
  font-size: 1em;
}
.controls__label {
  display: block;
  font-size: 0.8em;
  padding-top: 0.3em;
  margin-bottom: 2em;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.input-text, #input-text-wrapper{
  z-index: 222;
}

/*canvas {
  background-color: #eee;
  transition: opacity 0.3s;
}*/
canvas.show {
  opacity: 1;
}

.canvas-wrap {
  margin-top: 50px;
  position: relative;
}

#canvasID {
  z-index: 9999;
}

.selected {
  border: 3px solid #30a730;
}

.gallery-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.gallery-wrapper .canvas-list{
  width: 33.3%;
  padding: 10px;
  position: relative;
}
.gallery-wrapper .canvas-list .gallery-canvas {
  width: 100%;
}
.gallery-canvas-text {
  position: absolute;
 /* left: 0;
  top: 25px;*/
}
.hidden{
  display: none;
}
