body {
  background: #222;
  color: #fff;
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  padding-bottom: 3em;
}

.page-wrap {
  display: inline-block;
  margin: 2em auto;
}
.controls{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 15px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.input-text, #input-text-wrapper{
  z-index: 222;
  background: transparent;
  border: none;
  outline: none;
}
.input-text{
  border-bottom: 2px solid #fff;
  color: #ffec04;
  font-size: 15px;
}
canvas.show {
  opacity: 1;
}

.canvas-wrap {
  margin-top: 50px;
  position: relative;
}

#canvasID {
  z-index: 9999;
}

.gallery-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.gallery-wrapper .canvas-list{
  width: 100%;
  position: relative;
  display: none;
}
.gallery-wrapper .canvas-list p{
  text-transform: uppercase;
  font-size: 20px;
}
.gallery-wrapper .canvas-list.selected{
  display: block;
}
.gallery-wrapper .canvas-list.selected canvas{
  border: 3px solid #30a730;
}
.gallery-wrapper .canvas-list .gallery-canvas {
  width: 100%;
}
.gallery-canvas-text {
  position: absolute;
}
.hidden{
  display: none;
}
.pagination-list {
  padding: 10px;
  display: inline-block;
}
.pagination-list #back-btn, .pagination-list #next-btn{
  padding: 10px;
  cursor: pointer;
  color: #ffd358;
  text-decoration: underline;
}
.images-list {
  margin: 20px 0;
  padding-top: 20px;
  border-top: 1px solid #fff;
  text-align: left;
  width: 100%;
}
.images-list .image-name {
  margin: 5px 0;
}
button {
  background: #ff5454;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}
.clear-all-tag {
  padding: 15px 20px;
  display: inline-block;
  margin-bottom: 20px;
}
.delete-all {
  margin-bottom: 20px;
}

@media (max-width: 767px){
  h1{
    font-size: 20px;
  }
}